Flask
beautifulsoup4 
bs4
frozendict
geopy
ipython
kafka-python
matplotlib
py4j
pyelasticsearch
pymongo
requests
scipy
selenium
scikit-learn
tabulate
tldextract
wikipedia
findspark
iso8601
urllib3==1.24
joblib
mlflow
pyspark
apache-airflow==2.1.4
SQLAlchemy==1.3.22
Pillow>=8.2.0

